.card {
  width: 260px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background: white;
}

.img {
  width: 100%;
  border-radius: 8px;
}

.button {
  padding: 8px 10px;
  border: none;
  background: black;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
