.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: #000;
  color: #fff;
}

.nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}
